{{$iframe := partial "player_query.html" . }}
<div class="dotlottie-container" 
     style="position: relative; overflow: hidden;
            {{with .Get "AspectRatio"}}aspect-ratio: {{. | safeCSS}};{{end}} width: 100%; display: block; outline: none;"> 
<iframe class="player-frame" 
        allowfullscreen
        style="border: none; position: absolute; width: 100%; height: 100%; top: 0; left: 0; bottom: 0; right: 0;" 
        name="player-frame" 
    {{ printf "src=%s" $iframe | safeHTMLAttr }}
        >
</iframe>
</div>

<script> 
const frame = document.querySelector('.player-frame')
function sendMsgToDotLottie(data) {
  frame.contentWindow?.postMessage(data, '*')
}
function onMsg(e) {
  console.log('msg', e.data)
}
window.addEventListener('message', onMsg)
</script>

