/**
 * Color schemes
 */
[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
  color-scheme: light;
  --pico-text-selection-color: rgba(183, 136, 0, 0.25);
  --pico-primary: #876400;
  --pico-primary-background: #ffbf00;
  --pico-primary-underline: rgba(135, 100, 0, 0.5);
  --pico-primary-hover: #694d00;
  --pico-primary-hover-background: #e8ae01;
  --pico-primary-focus: rgba(183, 136, 0, 0.5);
  --pico-primary-inverse: #000;
}
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]),
  :host(:not([data-theme])) {
    --pico-text-selection-color: rgba(199, 148, 0, 0.1875);
    --pico-primary: #c79400;
    --pico-primary-background: #ffbf00;
    --pico-primary-underline: rgba(199, 148, 0, 0.5);
    --pico-primary-hover: #e8ae01;
    --pico-primary-hover-background: #fecc63;
    --pico-primary-focus: rgba(199, 148, 0, 0.375);
    --pico-primary-inverse: #000;
    --pico-switch-thumb-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

[data-theme=dark] {
  color-scheme: dark;
  --pico-text-selection-color: rgba(199, 148, 0, 0.1875);
  --pico-primary: #c79400;
  --pico-primary-background: #ffbf00;
  --pico-primary-underline: rgba(199, 148, 0, 0.5);
  --pico-primary-hover: #e8ae01;
  --pico-primary-hover-background: #fecc63;
  --pico-primary-focus: rgba(199, 148, 0, 0.375);
  --pico-primary-inverse: #000;
}
