{{ define "main" }}
<link id="theme-style" rel="stylesheet" href="{{urls.JoinPath "/static"
          .Site.Params.AssetDir "css" "gottie.css"}}">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ range .Pages }}
    <section>
      <figure style="position: relative;"> 
        <a href="{{ .RelPermalink }}">
      {{- with .Resources.Get "thumb.webp"}}
      <img src="{{.RelPermalink}}"></img>
      {{end}}
        <figcaption style="position: absolute;bottom:0;"> 
      <h2>
          {{ .LinkTitle }}
      </h2>
        </figcaption>
        </a>
      </figure>
    </section>
  {{ end }}
{{ end }}
